language: node_js
sudo: false
node_js: stable
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
script:
  - xvfb-run wct
  - bash ./gpages_build.sh zisismaras cookie-consent-polymer Travis contact@zisismaras.me
before_script:
- npm install web-component-tester
- npm install bower
- export PATH=$PWD/node_modules/.bin:$PATH
- bower install
